/* Fix fonts */
body {
	
  font-family: SANS-SERIF;
  
}

#login_title{
  
  text-align: center;
  
  
}

#login_title h1{
  
  font-size: 3em; 
  text-decoration: underline;
  
}

h1{
  
  font-size: 3em; 
  text-decoration: underline;
  
}

a {
  color:blue
}



a:visited { 
  text-decoration: none; color:blue;
}

a.no_color{
	
	color: black;
	
}

a:hover.no_color{
	
	color: gray;
	
}


#login_form{
  
  padding-top: 3px;
  margin: auto;
  width: 20%;
  text-align: center;
  
}

.center {
    
    margin: auto;
    
    
    
}

.center_text{
    
    text-align: center;
    
}

.center_content{
    
    display: block;
    margin: auto;
    
}
table, th, td {
    border: 2px solid #4b4b4b;
    border-collapse: collapse;
}
th{
  text-decoration: underline;
}

form, table {
	display:inline; margin:0px; padding:0px;
}

